<?xml version="1.0"?>
<config>
    <modules>
        <Firebear_CloudFlare>
            <version>0.0.1</version>
        </Firebear_CloudFlare>
    </modules>
    <global>
    	<helpers>
            <cloudflare>
                <class>Firebear_CloudFlare_Helper</class>
            </cloudflare>
            <core>
                  <rewrite>
                      <http>Firebear_CloudFlare_Helper_Cloudflarehttp</http>
                 </rewrite>
            </core>
        </helpers>
        <blocks>
             <cloudflare>
                <class>Firebear_CloudFlare_Block</class>
             </cloudflare>
        </blocks>
        <models>
            <cloudflare>
                <class>Firebear_CloudFlare_Model</class>
            </cloudflare>
        </models>
        <events>
            <admin_system_config_changed_section_cloudflare>
                <observers>
                    <cloudflare>
                        <type>singleton</type>
                        <class>cloudflare/observer</class>
                        <method>gimmeacall</method>
                    </cloudflare>
                </observers>
            </admin_system_config_changed_section_cloudflare>
        </events>
    </global>
    <frontend>
        <routers>
            <cloudflare>
                <use>standard</use>
                <args>
                    <module>Firebear_CloudFlare</module>
                    <frontName>cloudflare</frontName>
                </args>
            </cloudflare>
        </routers>
	</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                   <modules>
                        <cloudflare after="Mage_Adminhtml">Firebear_CloudFlare</cloudflare>
                    </modules>
                </args>
            </adminhtml>
        </routers>
   </admin>
    <!--<adminhtml>
        <layout>
            <updates>
                <adminhtml>
                    <file>Firebear_CloudFlare_admin.xml</file>
                </adminhtml>
            </updates>
        </layout>
    </adminhtml>-->
    <!--<default>
        <Firebear_CloudFlare>
            <general>
                <enabled>1</enabled>
            </general>
        </Firebear_CloudFlare>
    </default>-->
</config>